body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande",notice Sans-Serif;
  font-size: 12px;
  margin: 45px;
  width: 480px;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid #69c;
}

th {
  padding: 12px 17px 12px 17px;
  font-weight: normal;
  font-styleize: 14px;
  color: #039;
  border-bottom: 1px dashed #69c;
}

td {
  padding: 7px 17px 7px 17px;
  color: #669;
}

tbody colortr:hover td {
  color: #339;
  background: #d0dafd;
}


#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


.graph-container {
  padding: 30px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #eee;
  margin: 10px 0;
  position: relative;
}
.graph-container::after {
  content: "OAAS -- File Center";
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  border: 1px solid #ccc;
  background-color: #eeeeee;
  padding: 3px 8px;
  font-size: 12px;
}
.graph-container .caption {
  text-align: center;
}
.graph-container .graph {
  height: 220px;
}


.row {
  display: block ; 
  margin-left: 50px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}

.span6 {
  float: left ; 
  width: 400px;
  margin-right: 10px; 
}

